server:
  port: 8080
## 39.108.67.248
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/qrcode?useUnicode=true&characterEncoding=utf-8
    username: root
    password: 1234
    driver-class-name: com.mysql.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapper/mysql/*.xml
  type-aliases-package: qrCode.dao
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl 
  